Repository manwithacat/akkadian: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, biome-format, ruff-lint, ruff-format

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

biome-format:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

ruff-lint:
  run: ruff check --fix {staged_files} 2>/dev/null || true
  stage_fixed: true

ruff-format:
  run: ruff format {staged_files} 2>/dev/null || true
  stage_fixed: true

fix: correct command export aliases after logStep rename
  src/commands/index.ts
Due: biome-check, biome-format

fix: preflight now detects optimizer.pt disk usage in checkpoints
  src/commands/notebook/build.ts
  src/commands/preflight/preflight.ts
Due: biome-check, biome-format

fix: kaggle status command and add versioned kernel names
  src/commands/kaggle/status.ts
  src/commands/notebook/build.ts
  src/lib/kaggle.ts
Due: biome-check, biome-format

feat: add competition directory structure support
  src/commands/competition/init.ts
  src/commands/notebook/build.ts
  src/lib/config.ts
  src/types/commands.ts
Due: biome-check, biome-format

feat(preflight): add competition submission format check
  src/commands/preflight/preflight.ts
Due: biome-check, biome-format

feat: add Kaggle Model Registry support
  src/commands/notebook/build.ts
  src/commands/preflight/preflight.ts
Due: biome-check, biome-format

feat: add Kaggle Model Registry tracking and reuse
  src/cli.ts
  src/commands/index.ts
  src/commands/model/index.ts
  src/commands/model/list.ts
  src/commands/model/register.ts
  src/commands/notebook/build.ts
  src/commands/preflight/preflight.ts
  src/types/models.ts
Due: biome-check, biome-format

fix: resolve TypeScript errors for CI/CD
  src/cli.ts
  src/commands/colab/download-model.ts
  src/commands/data/download.ts
  src/commands/data/explore.ts
  src/commands/data/register.ts
  src/commands/kaggle/list-kernels.ts
  src/commands/kaggle/logs.ts
  src/commands/kaggle/run-kernel.ts
  src/commands/kaggle/submissions.ts
  src/commands/kaggle/upload-notebook.ts
  src/commands/mlflow/log.ts
  src/commands/notebook/build.ts
  src/commands/preflight/validate.ts
  src/commands/template/generate.ts
  src/lib/gcs.ts
  src/lib/kaggle.ts
  src/lib/kernel-registry.ts
  src/lib/mlflow.ts
  src/lib/output.ts
  src/types/commands.ts
  src/types/template.ts
Due: biome-check, biome-format

feat: disable progress bars in generated notebooks for clean Kaggle logs
  src/commands/notebook/build.ts
  src/commands/preflight/preflight.ts
Due: biome-check, biome-format

feat(preflight): add dataset column validation and improve MCP server
  src/commands/notebook/build.ts
  src/commands/preflight/platforms.ts
  src/commands/preflight/preflight.ts
  src/lib/config.ts
  src/mcp/server.ts
Due: biome-check, biome-format

feat(preflight): add compute_metrics validation check
  src/commands/preflight/preflight.ts
Due: biome-check, biome-format

feat(preflight): add internet dependency validation
  src/commands/preflight/preflight.ts
Due: biome-check, biome-format

feat(preflight): add --no-deps pip install detection
  src/commands/preflight/preflight.ts
Due: biome-check, biome-format

refactor: centralize process execution and standardize errors
  src/commands/colab/cleanup.ts
  src/commands/colab/download-model.ts
  src/commands/doctor.ts
  src/commands/notebook/build.ts
  src/commands/preflight/preflight.ts
  src/lib/datasette.ts
  src/lib/errors.ts
  src/lib/gcs.ts
  src/lib/kaggle.ts
  src/lib/mlflow.ts
  src/lib/process.ts
  src/mcp/knowledge/akkadian-dk.ts
  src/mcp/knowledge/types.ts
Due: biome-check, biome-format

feat(preflight): enhance progress bar detection and add usability guidance
  src/cli.ts
  src/commands/index.ts
  src/commands/kaggle/create-inference.ts
  src/commands/kaggle/index.ts
  src/commands/kaggle/list-kernels.ts
  src/commands/kaggle/list-running.ts
  src/commands/kaggle/status.ts
  src/commands/kaggle/upload-model.ts
  src/commands/preflight/preflight.ts
  src/lib/kaggle.ts
  src/lib/output.ts
  src/mcp/knowledge/akkadian-dk.ts
Due: biome-check, biome-format

feat: add optimize commands and improve notebook build
  src/cli.ts
  src/commands/index.ts
  src/commands/notebook/build.ts
  src/commands/optimize/compare.ts
  src/commands/optimize/download.ts
  src/commands/optimize/index.ts
  src/commands/optimize/run.ts
  src/commands/optimize/study.ts
Due: biome-check, biome-format

Add dataset source detection for Kaggle kernels
  src/commands/kaggle/upload-notebook.ts
  src/commands/preflight/preflight.ts
Due: biome-check, biome-format

Fix preflight false positives for PyTorch tensors and column renames
  src/commands/preflight/preflight.ts
Due: biome-check, biome-format

Add prediction job tracking for weight optimization
  src/commands/index.ts
  src/commands/predict/index.ts
  src/commands/predict/list.ts
  src/commands/predict/register.ts
  src/commands/predict/update.ts
  src/lib/index.ts
  src/lib/output.ts
  src/lib/prediction.ts
  src/mcp/server.ts
  src/types/competition.ts
Due: biome-check, biome-format

Fix TypeScript type errors for CI
  src/commands/notebook/build.ts
  src/lib/data-registry.ts
  src/mcp/knowledge/types.ts
Due: biome-check, biome-format

Bump version to 1.1.0 and add README badges
  README.md
  package.json
Due: none

refactor: clean up CLI codebase - remove dead code, deduplicate utilities, fix bugs
  src/cli.ts
  src/commands/index.ts
  src/commands/kaggle/create-inference.ts
  src/commands/kaggle/upload-model.ts
  src/commands/kaggle/upload-notebook.ts
  src/commands/preflight/preflight.ts
  src/commands/preflight/validate.ts
  src/commands/vertex/list.ts
  src/commands/vertex/status.ts
  src/commands/vertex/submit.ts
  src/commands/workflow/import-run.ts
  src/lib/config.ts
  src/lib/errors.ts
  src/lib/index.ts
  src/lib/kaggle.ts
  src/lib/kernel-registry.ts
  src/lib/output.ts
  src/lib/prediction.ts
  src/lib/utils.ts
Due: biome-check, biome-format

fix: resolve TypeScript errors in import-run.ts metrics typing
  src/commands/workflow/import-run.ts
Due: biome-check, biome-format

Bump version to 1.2.0
  package.json
Due: none

feat: add Python package skeleton with pyproject.toml
  .gitignore
  pyproject.toml
  ruff.toml
  src/akkadian_mcp/__init__.py
  src/akkadian_mcp/__main__.py
  tests/__init__.py
Due: ruff-lint, ruff-format

feat: add SQLite knowledge graph with entity/relation CRUD
  src/akkadian_mcp/knowledge_graph/__init__.py
  src/akkadian_mcp/knowledge_graph/models.py
  src/akkadian_mcp/knowledge_graph/store.py
  tests/test_knowledge_graph.py
Due: ruff-lint, ruff-format

feat: add server state with config management and feature detection
  src/akkadian_mcp/state.py
  tests/test_state.py
Due: ruff-lint, ruff-format

feat: add MCP server with dynamic tool registration for optional extras
  src/akkadian_mcp/server.py
  tests/test_server.py
Due: ruff-lint, ruff-format

feat: add bootstrap handler for project init and config
  src/akkadian_mcp/handlers/__init__.py
  src/akkadian_mcp/handlers/bootstrap.py
  tests/test_bootstrap.py
Due: ruff-lint, ruff-format

feat: add knowledge handler and generic project seeder
  src/akkadian_mcp/handlers/knowledge.py
  src/akkadian_mcp/knowledge_graph/seed.py
  tests/test_knowledge_handler.py
Due: ruff-lint, ruff-format

feat: add generalized kaggle handler with config-driven defaults
  src/akkadian_mcp/handlers/kaggle.py
  tests/test_kaggle_handler.py
Due: ruff-lint, ruff-format

feat: add MLflow handler with tracking, comparison, and artifact ingestion
  src/akkadian_mcp/handlers/mlflow.py
  tests/test_mlflow_handler.py
Due: ruff-lint, ruff-format

feat: add Optuna handler with study management and search space analysis
  src/akkadian_mcp/handlers/optuna.py
  tests/test_optuna_handler.py
Due: ruff-lint, ruff-format

docs: add README and CLAUDE.md for the Python MCP server
  CLAUDE.md
  README.md
Due: none

style: apply ruff formatting
  .gitignore
  src/akkadian_mcp/handlers/kaggle.py
  src/akkadian_mcp/handlers/mlflow.py
  src/akkadian_mcp/server.py
  tests/test_bootstrap.py
  tests/test_kaggle_handler.py
  tests/test_knowledge_graph.py
  tests/test_knowledge_handler.py
  tests/test_mlflow_handler.py
  tests/test_optuna_handler.py
  tests/test_server.py
  tests/test_state.py
Due: ruff-lint, ruff-format

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx}
  biome-format: any of: *.{ts,tsx,js,jsx}
  ruff-lint: any of: *.py
  ruff-format: any of: *.py
